// slurm and resource allocation
process {
    executor = 'slurm'
    //clusterOptions = '--export=NONE'
    cpus = 2  
    memory = { 8.GB * task.attempt }
    time = { 200.min }
    withName: getDifference {
	      cpus = 4
        memory = 12.GB
    }
    withName: runRandomForestModel {
        cpus = 2
        memory = 12.GB
    }
}

profiles {
	conda {
		process.conda = 'python=3.8.10 biopython=1.79 scikit-bio=0.5.6 scikit-learn=0.24.1 pandas=1.2.1 numpy=1.19.5 pyarrow'
  }
}
